.cart-container {
  padding: 2rem;
}

.cart-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.cart-items {
  flex: 2;
}

.checkout-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.box {
  border-radius: 12px;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid lightgray;

}

.shipping-address h5,
.shipping-option span {
  font-weight: bold;
  
}

.edit-link {
  float: right;
  color: #C00000;
  font-weight: 500;
  cursor: pointer;
}

.summary-line {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.pay-order {
  margin-top: 1.5rem;
  background-color: #C00000;
  color: white;
  border: none;
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.shipping-select {
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}


